:root {
	/**/
	--ct-main-fg: ;
	--ct-main-bg: ;
	--ct-alt-fg: ;
	--ct-alt-bg: ;
	--ct-accent: ;
	/**/
	--ct-link: ;
	--ct-link-hover: ;
	--ct-link-visited: ;
	/**/
	--ct-error: ;
	--ct-warning: ;
	--ct-info: ;
	/**/
	--ct-important: ;
	--ct-unimportant: ;
}
